<%
var title = "Archive",
    id    = "archive",
    type  = "type--article";
print(include('includes/top.tmpl', {title: title, id: id, type: type}));
%>

<section><div class="section">

    <div class="column--main">

        <h1 class="h1">Archive</h1>

        <p>Here's a selection of Sarah's previous work. As you will notice some of the themes remain the same, but the stylisation and finish has changed during her making career. If you would like Sarah to revist a piece, please feel free to contact her to discuss a commission.</p>

    </div>

</div></section>

<section><div class="section">

    <h2 class="h2">Ocean</h2>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/ananenome.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/andiscodancingseapod.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/anhearanenome.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/anjjanenomepots.jpg" />
    </div>

</div></section>

<section><div class="section">

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/antentaclepot.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/galleon.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/ocjjleapinggoldenfish.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/tentaclepot.jpg" />
    </div>

</div></section>

<section><div class="section">

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/nwbrownseal.jpg" />
    </div>

</div></section>

<section><div class="section">

    <h2 class="h2">Animals</h2>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/bluebird2.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/bluebirdchasingtheangelfishthroughthewaves.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/bluebirdflyingoverthepalmtrees.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/bluebirdonthemoon.jpg" />
    </div>

</div></section>

<section><div class="section">

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/bluebirdwatchingfromtheriverbank.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/blueobird.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/djjomalleys.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/domalley.jpg" />
    </div>

</div></section>

<section><div class="section">

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/domalleywalkiestimemantleclock.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/dwalkiestimeattheponds.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/dwhitestandingomalley.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/fatbluebirdonapalm.jpg" />
    </div>

</div></section>

<section><div class="section">

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/jbluebirdonapalm.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/jjeleontwofeetreachingforasnack.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/nwaardvark.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/nwblueele.jpg" />
    </div>

</div></section>

<section><div class="section">

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/nwjjeleontwofeetreachingforasnack.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/whitestandingomalley.jpg" />
    </div>

</div></section>

<section><div class="section">

    <h2 class="h2">Wallboxes</h2>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/whdesertislandwallbox.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/whfeatherflowerinavase.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/whheartlillyinavasewallbox.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/whjjdaffodillinavasewallbox.jpg" />
    </div>

</div></section>

<section><div class="section">

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/whseapodwallbox.jpg" />
    </div>

    <div class="column--micro image--stretch">
        <img class="img portrait click-to-zoom__no js-no_replace" src="/img/old_site/whtheloveoftheoceanwallbox.jpg" />
    </div>

</div></section>

<%= include('includes/bottom.tmpl') %>