<%
var title = "Contact",
    id    = "contact",
    type  = "type--article";
print(include('includes/top.tmpl', {title: title, id: id, type: type}));
%>

<section><div class="section">

    <div class="column--main">

        <h1 class="h1">Contact</h1>

        <p>
            <a href="mailto:sarahcoxceramics@aol.com" class="button button--inline">Email: sarahcoxceramics@aol.com</a>
        </p>

    </div>

</div></section>

<section><div class="section">

    <div class="column--main">

        <h2 class="h2">Artists Statement</h2>

        <p>"I graduated from Central Saint Martins School of Art, London, in 1991, and have been making and exhibiting since. I had my first workshop underneath Peckham railway station, I am now located in Hastings on the South Coast.</p>

        <p>Whilst at college my ceramic work became inspired by the wonders of the sea, but the aquarium tanks of London Zoo and Kew Gardens were as close as I could get to the real thing! I am now a keen diver and take inspiration from tropical seas and far away locations, and the plants and animals that inhabit such places.</p>

        <p>My ceramics are vividly colourful, humorous, animated creations that depict elements of both fantasy, reality and pure escapism. Blue birds, aardvarks, dogs, elephants and sea creatures are some of my themes. I make both large and small scale sculpture, my work is mainly 'one offs' but I do repeat some themes.</p>

        <p>My pieces have also included anemone inspired creations, mixed media low relief's, wall pieces, mirrors and clocks.</p>

        <p>I use both slabs and coils of clay in the construction of my pieces, and a variety of surface treatments and textures. Forms are often built by creating sealed forms that can be worked on like a balloon, releasing the air at the last possible moment so the piece holds its shape. I inlay a vitreous slip to highlight the surface detail, and then spray my barium glazes so they blend from one into the next.</p>

        <p>The barium colour glazes range from white, to yellow, to orange / red, to vivid green, to turquoise, to rich cobalt blue, purple and black. I fire my smaller scale indoor gallery pieces to 1100 degrees centigrade, and the glaze surface quality ranges from smooth and waxy, to dry and rough. I love how the vitreous slip flashes when it melts, and creates a turquoise halo around inlaid textures.</p>

        <p>My latest collection of work has been running along side my smaller scale gallery work. I have been experimenting and exhibiting large scale stoneware pieces for the garden, which include sculptures, fountains, water features and bird baths. I have been enjoying the challenge of the scale, and reformulating the base glazes to suit. Clients feel they don't have the space in the home, but they do in the garden for larger scale work.</p>

        <p>Précised version for a recent exhibition catalogue... "I graduated from Central Saint Martins in 1991, and have been making and exhibiting since. I had my first workshop underneath Peckham railway station, I am now located in Hastings on the South Coast. My current body of work has been running along side my smaller scale brightly coloured gallery pieces. They include large scale stoneware pieces for the garden, sculptures, bird baths and water features. I have enjoyed the challenge of the scale, and reformulating my glazes for outdoor pieces. Clients feel they don't have the space in the home, but they do in the garden for larger scale work."</p>


    </div>

</div></section>

<%= include('includes/bottom.tmpl') %>