<%
var title = "Exhibitions",
    id    = "exhibitions",
    type  = "type--article";
print(include('includes/top.tmpl', {title: title, id: id, type: type}));
%>

<section><div class="section">

    <div class="column">

        <h1 class="h1">Exhibitions</h1>

        <p>Exhibition schedule this year to date:</p>

        <ul>

            <li>
                Dellamore Arts, Summer Exhibition May 1st - 31st May 2013<br />
                Dellamore House, 
                Cornwood, 
                Devon, 
                PL21 9QT 
                01752 
                <a href="http://www.delamore-art.co.uk">www.delamore-art.co.uk</a>
            </li>

            <li>
                Art in Clay at Hatfield House, 
                5th/6th/7th July 2013 
                Hatfield, 
                Hertfordshire, 
                AL9 5NQ 
                <a href="http://www.artinclay.co.uk">www.artinclay.co.uk</a>
            </li>

            <li>
                The Sculpture Show 
                14th - 19th September 2013
                Marle Place Gardens, 
                Brenchley near Tonbridge, 
                Kent, 
                TN12 7HS 
                contact sarah@thesculptureshow.com 
                01299 896188
            </li>

        </ul>

        <p>Please check back to the website for exhibition updates, or join my mailing list by selecting it on the contact section of the website.</p>

        <h2 class="h2">Galleries where Sarah's Work is currently Exhibited</h2>

        <ul>

            <li>
                The Old Courthouse Gallery,
                OCG ARTS,
                Ambleside,
                Cumbria, LA22 9BU
                Tel: 01539 432022
                <a href="http://www.ocg-arts.com">www.ocg-arts.com</a>
            </li>

            <li>
                The Oasis Gallery, Port Elizabeth, on the beautiful island of Bequia in the Caribbean. 
            </li>

            <li>
                FENWICK GALLERY
                21 Castle Street
                Warkworth
                Northumberland NE65 0UW
                Tel:01665 711136
                <a href="http://www.fenwickgallery.co.uk">www.fenwickgallery.co.uk</a>
            </li>

            <li>
                The Lion Gallery 
                15B Lion House Broad Street 
                LEOMINSTER 
                Herefordshire 
                HR6 8BT  
                Tel: 01568 611898 
                <a href="http://www.liongallery.com">www.liongallery.com</a>
                Email: info@liongallery.com
            </li>

            <li>
                Baxters Gallery
                12 Foss Street
                Dartmouth
                Devon, TQ6 9DR
                Tel: 01803 839000
                <a href="http://www.baxtersgallery.co.uk">www.baxtersgallery.co.uk</a>
            </li>

        <ul>

    </div>

    <div class="column--micro image--stretch">
        <div class="img--gallery-small js-delayed_image_load" data-src="/img/96/exhibitions/art_in_clay_farnham_01.jpg"></div>
    </div>

    <div class="column--micro image--stretch">
        <div class="img--gallery-small js-delayed_image_load" data-src="/img/96/exhibitions/art_in_clay_farnham_02.jpg"></div>
    </div>

    <div class="column--micro image--stretch">
        <div class="img--gallery-small js-delayed_image_load" data-src="/img/96/exhibitions/art_in_clay_farnham_03.jpg"></div>
    </div>

    <div class="column--micro image--stretch">
        <div class="img--gallery-small--gallery-small portrait js-delayed_image_load" data-src="/img/96/exhibitions/british_craft_trade_fair_01.jpg"></div>
    </div>

    <div class="column--micro image--stretch">
        <div class="img--gallery-small--gallery-small portrait js-delayed_image_load" data-src="/img/96/exhibitions/british_craft_trade_fair_02.jpg"></div>
    </div>

</div></section>

<%= include('includes/bottom.tmpl') %>