<%
var title = "Gallery Pieces",
    id    = "gallery_pieces",
    type  = "type--article";
print(include('includes/top.tmpl', {title: title, id: id, type: type}));
%>

<section><div class="section">

    <div class="column--main">

        <h1 class="h1">Gallery Pieces</h1>

        <p class="introduction">Sarah most recent sculptures have mainly been created to bring joy to the beholder, a companion to raise a smile and a burst of technicolour to their worlds.</p>

    </div>

</div></section>

<section><div class="section">

    <div class="column">

        <p>When she creates a piece if it doesn't make her smile, she puts it to one side and comes back to it later. They have to speak to her, and interact within the clay environment they created within/on. i.e. Blue Bird Flying over the palm trees, or Foraging in the Garden. It seems odd but her work has become less sea obsessed since she moved to the coast 10 years ago!</p>

        <p>The adventures of the Blue Bird have been with Sarah, since a singular Blue Bird made his debute at her degree show in 1991. He featured mainly with sea creatures and sculptures that looked like they had been washed up on a tropical island. The Blue Birds adventures have been all about escapism, and wanting to be that Blue Bird and fly to all of those amazing places. He has even been to the moon!</p>

    </div>

    <div class="column--micro image--stretch img_holder">
        <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/birds/blue_bird_nest_watching_by_the_river_bank.jpg" data-alt="blue bird nest watching by the river bank"></div>
    </div>

    <div class="column--micro image--stretch img_holder">
        <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/elephants/blue_elephant_curly_trunk.jpg" data-alt="blue elephant curly trunk"></div>
    </div>

    <div class="column--micro image--stretch img_holder">
        <div class="img--gallery-small js-delayed_image_load" data-src="/img/96/animalarium/lemurs.jpg" data-alt="lemurs"></div>
    </div>

    <div class="column--micro image--stretch img_holder">
        <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/animalarium/parent_and_child.jpg" data-alt="Hare parent and child"></div>
    </div>

</div></section>

<section><div class="section--embeded-image-flush"><div class="section">

    <div class="image-flush-left">
        <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/elephants/kissing_elephants_01.jpg" data-alt="kissing elephants"></div>
    </div>

    <div class="column--main column--stay-right">
        <p>Sarah's elephant obsession, that has now overflowed into her larger scale works for outdoors, began after a trip to Thailand. On a local bus trip through the heart of Thailand, Sarah &amp; husband were privie to a lovely side show of a group of naughty Elephants frolicking in some wood land set back from the road.</p>

        <p>On another occasion they were both shocked and surprised to see and elephant on the back of a pick up truck, speeding up the other side of the motor way! An elephant is always a joy to see, and she has on occasion had a chance to interact with these amazing creatures.</p> 

        <p>Please enjoy looking through a selection of her current pieces, and look further on this website for archival favourite creations such as, O'Malley, Sarah's extremely popular dog sculptures. If you are interested in any of the pieces, please don't hesitate to contact her direct via the contact page. Retail prices are between &pound;70 - &pound;450.</p>

    </div>

</div></div></section>

<section><div class="js-more-content">

    <div class="section section--gallery">

        <h2 class="h2">Birds</h2>
        
        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load" data-src="/img/96/birds/bird_of_paradise_in_the_flower_garden.jpg" data-alt="bird of paradise in the flower garden"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/birds/bird_of_paradise_in_the_tree_tops.jpg" data-alt="bird of paradise in the tree tops"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/birds/birds_of_paradise_in_the_tree_tops.jpg" data-alt="bird of paradise in the tree tops"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/birds/blue_bird_in_the_corn_flowers.jpg" data-alt="birds/blue bird in the corn flowers"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small--gallery-small portrait js-delayed_image_load" data-src="/img/96/birds/blue_bird_nest_watching_by_the_river_bank_from_above.jpg" data-alt="blue bird nest watching by the river bank from above"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/two_fantails.jpg" data-alt="two fantails"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/blue_bird_nest_watching_by_the_river_bank.jpg" data-alt="blue bird nest watching by the river bank"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/blue_bird_of_happiness_at_the_waters_edge.jpg" data-alt="blue bird of happiness at the waters edge"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/blue_bird_of_paradise_in_the_flower_garden_01.jpg" data-alt="blue bird of paradise in the flower garden"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/blue_bird_of_paradise_in_the_flower_garden_02.jpg" data-alt="blue bird of paradise in the flower garden"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/blue_bird_on_the_crest_of_the_wave_01.jpg" data-alt="blue bird on the crest of the wave"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/blue_bird_on_the_crest_of_the_wave_02.jpg" data-alt="blue bird on the crest of the wave"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/blue_bird_watching_from_the_grassy_knoll.jpg" data-alt="blue bird watching from the grassy knoll"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/blue_birds_of_paradise_in_the_flower_garden.jpg" data-alt="blue birds of paradise in the flower garden"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/blue_birds_on_the_crest_of_the_wave.jpg" data-alt="blue birds on the crest of the wave"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/blue_birds_on_the_grassy_bank_01.jpg" data-alt="blue birds on the grassy bank"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/blue_birds_on_the_grassy_bank_02.jpg" data-alt="blue birds on the grassy bank"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/blue_fantails.jpg" data-alt="blue fantails"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/courting_curly_tails_at_the_waters_edge.jpg" data-alt="courting curly tails at the waters edge"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/fantail_blue_birds_in_the_garden.jpg" data-alt="fantail blue birds in the garden"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/fantail_in_the_garden_01.jpg" data-alt="fantail in the garden"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/birds/fantail_in_the_garden_02.jpg" data-alt="fantail in the garden"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/finches_foraging_01.jpg" data-alt="finches foraging"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/finches_foraging_02.jpg" data-alt="finches foraging"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/golden_bird_side_view.jpg" data-alt="golden bird side view"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/golden_bird.jpg" data-alt="golden bird"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/birds/golden_birds.jpg" data-alt="golden birds"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/birds/golden_fantail.jpg" data-alt="golden fantail"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/golden_fantails.jpg" data-alt="golden fantails"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/long_tailed_blue_bird_nest_watching_by_the_river_bank.jpg" data-alt="long tailed blue bird nest watching by the river bank"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/long_tailed_blue_bird_nest_watching_on_the_river_bank_front_view.jpg" data-alt="long tailed blue bird nest watching by the river bank"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/long_tailed_blue_bird_resting_by_the_grassy_knoll_front_view.jpg" data-alt="long tailed blue bird resting by the grassy knoll"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/long_tailed_blue_bird_resting_by_the_grassy_knoll.jpg" data-alt="long tailed blue bird resting by the grassy knoll"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/love_bird_in_the_garden_01.jpg" data-alt="love bird in the garden"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/birds/love_bird_in_the_garden_02.jpg" data-alt="love bird in the garden"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/love_birds_in_the_garden.jpg" data-alt="love birds in the garden"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/purple_wings_by_the_waters_edge.jpg" data-alt="purple wings by the waters edge"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/purple_wings_foraging_01.jpg" data-alt="purple wings foraging"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/purple_wings_foraging_02.jpg" data-alt="purple wings foraging"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/the_roost.jpg" data-alt="the roost"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/birds/two_blue_birds_on_the_grassy_bank.jpg" data-alt="two blue birds on the grassy bank"></div>
        </div>

    </div>

</div></section>

<section><div class="js-more-content">

    <div class="section section--gallery">

        <h2 class="h2">Elephants</h2>
        
        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load" data-src="/img/96/elephants/blue_elephant_curly_trunk.jpg" data-alt="blue elephant curly trunk"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/elephants/elephant_with_hitch_hicking_blue_bird_01.jpg" data-alt="elephant with hitch hicking blue bird"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/elephants/elephant_with_hitch_hicking_blue_bird_02.jpg" data-alt="elephant with hitch hicking blue bird"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small js-delayed_image_load" data-src="/img/96/elephants/kissing_elephants_01.jpg" data-alt="kissing elephants"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small--gallery-small portrait js-delayed_image_load" data-src="/img/96/elephants/kissing_elephants_02.jpg" data-alt="kissing elephants"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/elephants/pair_of_wrinkly_elephants.jpg" data-alt="pair of wrinkly elephants"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/elephants/reaching_elephant.jpg" data-alt="reaching elephant"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/elephants/reaching_wrinkly_elephant.jpg" data-alt="reaching wrinkly elephant"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/elephants/snacking_elephant_with_a_baby_elephant.jpg" data-alt="snacking elephant with a baby elephant"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/elephants/snacking_elephant.jpg" data-alt="snacking elephant"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/elephants/wrinkly_elephant.jpg" data-alt="wrinkly elephant"></div>
        </div>

    </div>

</div></section>

<section><div class="js-more-content">

    <div class="section section--gallery">

        <h2 class="h2">Canines</h2>
        
        <div class="column image--stretch column--gallery-main img_holder">
            <div class="js-delayed_image_load" data-src="/img/96/canines/a_word_in_your_shell_like.jpg" data-alt="a word in your shell like"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/canines/aardvark_and_bird_01.jpg" data-alt="aardvark and bird"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small js-delayed_image_load" data-src="/img/96/canines/aardvark_and_bird_02.jpg" data-alt="aardvark and bird"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/canines/contentment_01.jpg" data-alt="contentment"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small--gallery-small portrait js-delayed_image_load" data-src="/img/96/canines/contentment_02.jpg" data-alt="contentment"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/canines/fox.jpg" data-alt="fox"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/canines/full_of_the_joys_of_spring_01.jpg" data-alt="full of the joys of spring"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/canines/full_of_the_joys_of_spring_02.jpg" data-alt="full of the joys of spring"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/canines/full_of_the_joys_of_spring_close_up_side_view.jpg" data-alt="full of the joys of spring"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/canines/full_of_the_joys_of_spring_close_up.jpg" data-alt="full of the joys of spring"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="js-delayed_image_load js-no_replace" data-src="/img/96/canines/pair_of_happy_foxes.jpg" data-alt="pair of happy foxes"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/canines/sitting_aardvark.jpg" data-alt="sitting aardvark"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/canines/waiting_for_spring.jpg" data-alt="waiting for spring"></div>
        </div>

    </div>

</div></section>

<section><div class="js-more-content">

    <div class="section section--gallery">

        <h2 class="h2">Animalarium</h2>
        
        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load" data-src="/img/96/animalarium/father_and_child_rabbits.jpg" data-alt="father_and_child_rabbits"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/animalarium/lemur_01.jpg" data-alt="lemur"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/animalarium/lemur_02.jpg" data-alt="lemur"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small js-delayed_image_load" data-src="/img/96/animalarium/lemurs.jpg" data-alt="lemurs"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small--gallery-small portrait js-delayed_image_load" data-src="/img/96/animalarium/pair_of_spring_hares_01.jpg" data-alt="pair of spring hares"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/animalarium/pair_of_spring_hares_02.jpg" data-alt="pair of spring hares"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/animalarium/parent_and_child.jpg" data-alt="Hare parent and child"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/animalarium/sitting_ring_tailed_lemur.jpg" data-alt="sitting ring tailed lemur"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/animalarium/spring_hare.jpg" data-alt="spring hare"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/animalarium/standing_ring_tailed_lemur.jpg" data-alt="standing ring tailed lemur"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/animalarium/whose_the_daddy.jpg" data-alt="whose the daddy?"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/workshop/the_light_footed_polar_bear_01.jpg" data-alt="the light footed polar bear"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/workshop/the_light_footed_polar_bear_02.jpg" data-alt="the light footed polar bear"></div>
        </div>

    </div>

</div></section>

<section><div class="section section--gallery">

    <h2 class="h2">Wall pieces</h2>
    
    <div class="column image--stretch column--gallery-main img_holder">
        <div class="js-delayed_image_load" data-src="/img/96/wall_boxes/close_up_of_toucan_nesting_wall_box.jpg" data-alt="toucan nesting wall box"></div>
    </div>

    <div class="column--micro image--stretch img_holder">
        <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/wall_boxes/toucan_nesting_wall_box.jpg" data-alt="toucan nesting wall box"></div>
    </div>

    <div class="column--micro image--stretch img_holder">
        <img class="portrait click-to-zoom__no js-no_replace" src="/img/old_site/whdesertislandwallbox.jpg" />
    </div>

    <div class="column--micro image--stretch img_holder">
        <img class="portrait click-to-zoom__no js-no_replace" src="/img/old_site/whfeatherflowerinavase.jpg" />
    </div>

    <div class="column--micro image--stretch img_holder">
        <img class="portrait click-to-zoom__no js-no_replace" src="/img/old_site/whheartlillyinavasewallbox.jpg" />
    </div>

</div></section>

<section><div class="section section--gallery">

    <div class="column--micro image--stretch img_holder">
        <img class="portrait click-to-zoom__no js-no_replace" src="/img/old_site/whjjdaffodillinavasewallbox.jpg" />
    </div>

    <div class="column--micro image--stretch img_holder">
        <img class="portrait click-to-zoom__no js-no_replace" src="/img/old_site/whseapodwallbox.jpg" />
    </div>

    <div class="column--micro image--stretch img_holder">
        <img class="portrait click-to-zoom__no js-no_replace" src="/img/old_site/whtheloveoftheoceanwallbox.jpg" />
    </div>

</div></section>

<%= include('includes/bottom.tmpl') %>