<%
var title = "In The Workshop",
    id    = "in_the_workshop",
    type  = "type--article";
print(include('includes/top.tmpl', {title: title, id: id, type: type}));
%>

<section><div class="js-more-content">

    <div class="section section--gallery">

    <h1 class="h1">In The Workshop</h1>
        
        <div class="column image--stretch column--gallery-main">
            <div class="img js-delayed_image_load" data-src="/img/96/workshop/baby_aardvark_commission.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small js-delayed_image_load" data-src="/img/96/workshop/baby_aardvark_rolling_on_his_back.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small js-delayed_image_load" data-src="/img/96/workshop/full_of_the_joys_of_spring_close_up.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/full_of_the_joys_of_spring.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/glaze_surface_red_hare.jpg"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main">
            <div class="img portrait js-delayed_image_load js-no_replace" data-src="/img/96/workshop/mum_dad_and_me_too_wet_clay_hare_family.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/workshop/red_hare_side_on.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/workshop/rodents_commission.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/workshop/the_light_footed_polar_bear_01.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/workshop/the_light_footed_polar_bear_02.jpg"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main">
            <div class="img portrait js-delayed_image_load js-no_replace" data-src="/img/96/workshop/the_twins_commission_close_up.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/workshop/the_twins_commission.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/workshop/wet_clay_hare_close_up.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/workshop/wet_clay_hare_family.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/workshop/wet_clay_wrinkly_elephants.jpg"></div>
        </div>

    </div>

</div></section>

<section><div class="section section--gallery">

    <h2 class="h2">Red Hare Commission</h2>
    
    <div class="column image--stretch column--gallery-main">
        <div class="img portrait js-delayed_image_load" data-src="/img/96/workshop/red_hare_commission_finished.jpg"></div>
    </div>

    <div class="column--micro image--stretch">
        <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/red_hare_close_up.jpg"></div>
    </div>

    <div class="column--micro image--stretch">
        <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/red_hare_commission_curating.jpg"></div>
    </div>

    <div class="column--micro image--stretch">
        <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/red_hare_commission.jpg"></div>
    </div>

    <div class="column--micro image--stretch">
        <div class="img--gallery-small--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/red_hare_front_on.jpg"></div>
    </div>

</div></section>

<section><div class="js-more-content">

    <div class="section section--gallery">

        <h2 class="h2">Rodent Commission</h2>
        
        <div class="column image--stretch column--gallery-main">
            <div class="img portrait js-delayed_image_load" data-src="/img/96/workshop/rodent_commission_01.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/rodent_commission_02.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/rodent_commission_03.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/rodent_commission_04.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/rodent_commission_05.jpg"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main">
            <div class="img portrait js-delayed_image_load js-no_replace" data-src="/img/96/workshop/rodent_commission_06.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/workshop/rodent_commission_07.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/workshop/rodent_commission_08.jpg"></div>
        </div>

        <div class="column--micro image--stretch">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/workshop/rodent_commission_09.jpg"></div>
        </div>

    </div>

</div></section>

<%= include('includes/bottom.tmpl') %>