<%
var title = "",
    id    = "home",
    type  = "type--index";
print(include('includes/top.tmpl', {title: title, id: id, type: type}));
%>

<section><div class="section section--hero">

    <div class="js-delayed_image_load click-to-zoom__no img" data-src="/img/96/fountains_and_water_features/smaller_blue_comunal_shower_water_feature.jpg"></div>
    <div class="h1">"Sarah's love of the technicolor, mixed with humour and escapism, is evident in everything she creates"</div>

</div></section>

<%= include('includes/bottom.tmpl') %>