<%
var title = "Outdoor Sculptures",
    id    = "outdoor_sculptures",
    type  = "type--article";
print(include('includes/top.tmpl', {title: title, id: id, type: type}));
%>

<section><div class="section">

    <div class="column--main">

        <h1 class="h1">Outdoor Sculptures</h1>

        <p class="introduction">Sarah's latest body of work has been creating unique sculptures, fountains / water features and birdbaths for the garden. She has enjoyed the challenge of the scale, and reformulating her glazes for outdoors.</p>

    </div>

</div></section>

<section><div class="section--embeded-image-flush"><div class="section">

    <div class="image-flush-right">
        <div class="js-delayed_image_load" data-src="/img/96/fountains_and_water_features/smaller_blue_comunal_shower_water_feature.jpg" data-alt="Smaller blue comunal shower water feature"></div>
    </div>

    <div class="column--main">

        <p>Garden designers looking for unique, handmade, joyous fountains and water features for your latest garden project, look no further. Unusual, colourful and humorous one off pieces for your project, from either Sarah's current portfolio, or if you have an idea for a piece you have longed to have individually made please get in touch.</p>

        <p>Sarah's Bird Baths create a smaller feature within the garden, Blue Birds Meeting Place and Leafy Glade form part of her current body of works for the garden.</p>

        <p>Clients often would love to own a piece of her smaller scale gallery work, but feel they don't have the space or ideal surroundings in their homes, but do have space in their gardens. Space for a large, unique, colourful, humorous, unusual sculpture or feature, to create a focal point within both courtyard gardens and large open spaces.</p>

        <p>Please feel free to contact Sarah if you have a specific design idea that you had in mind, your wildest dreams could be Sarah's next challenge! Retail prices are between &pound;100 - &pound;1000</p>


    </div>

</div></div></section>

<section><div class="js-more-content">

    <div class="section section--gallery">

        <h2 class="h2">Fountains and Water Features</h2>
        
        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load img_holder" data-src="/img/96/fountains_and_water_features/blue_bath_time_water_feature_fountain_01.jpg" data-alt="blue bath time water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/fountains_and_water_features/blue_bath_time_water_feature_fountain_02.jpg" data-alt="blue bath time water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small js-delayed_image_load" data-src="/img/96/fountains_and_water_features/blue_birds_by_the_babbling_brook_water_feature_with_rose_petals.jpg" data-alt="blue birds by the babbling brook water feature with rose petals"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/fountains_and_water_features/blue_birds_by_the_babbling_brook_water_feature.jpg" data-alt="blue birds by the babbling brook water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small--gallery-small portrait js-delayed_image_load" data-src="/img/96/fountains_and_water_features/blue_comunal_shower_water_feature_01.jpg" data-alt="blue comunal shower feature"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/blue_comunal_shower_water_feature_02.jpg" data-alt="blue comunal shower water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/brown_bathing_elephant_water_feature.jpg" data-alt="brown bathing elephant water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/brown_wrinkly_bath_time_water_feature_fountain_01.jpg" data-alt="brown wrinkly bath time water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/brown_wrinkly_bath_time_water_feature_fountain_02.jpg" data-alt="brown wrinkly bath time water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/elongated_blue_elephant_water_features.jpg" data-alt="elongated blue elephant water features"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/grey_wrinkly_bath_time_water_feature.jpg" data-alt="grey wrinkly bath time water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/grey_wrinkly_comunal_shower_water_feature_02.jpg" data-alt="grey wrinkly comunal shower water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/grey_wrinkly_comunal_shower_water_feature_up_close.jpg" data-alt="grey wrinkly comunal shower water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load" js-no_replace data-src="/img/96/fountains_and_water_features/smaller_blue_bath_time_water_feature_fountain_01.jpg" data-alt="small blue bath time water feature fountain"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/smaller_blue_bath_time_water_feature_fountain_02.jpg" data-alt="smaller blue bath time water feature fountain"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/bathing_elephant_with_water_flowing_around_his_feet_02.jpg" data-alt="bathing elephant with water flowing around his feet"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/smaller_wrinkly_grey_bath_time_water_feature_fountain_02.jpg" data-alt="smaller wrinkly grey bath time water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/smaller_wrinkly_grey_comunal_shower_water_feature_01.jpg" data-alt="smaller wrinkly grey comunal shower water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/smaller_wrinkly_grey_comunal_shower_water_feature_02.jpg" data-alt="smaller wrinkly grey comunal shower water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/bathing_elephant_with_water_flowing_around_his_feet_01.jpg" data-alt="bathing elephant with water flowing around his feet"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/blue_birds_by_the_babbling_brook_water_feature_02.jpg" data-alt="blue birds by the babbling brook water feature"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="img--gallery-small portrait js-delayed_image_load js-no_replace" data-src="/img/96/fountains_and_water_features/blue_comunal_shower_water_features.jpg" data-alt="blue comunal shower water features"></div>
        </div>

    </div>

</div></section>

<section><div class="js-more-content">

    <div class="section section--gallery">

        <h2 class="h2">Bird Baths</h2>

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="js-delayed_image_load portrait" data-src="/img/96/bird_baths/golden_meeting_place_bird_bath.jpg" data-alt="golden meeting place bird bath"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait" data-src="/img/96/bird_baths/happy_meeting_place_bird_bath.jpg" data-alt="happy meeting place bird bath"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load" data-src="/img/96/bird_baths/leafy_glade_bird_bath_05.jpg" data-alt="leafy glade bird bath"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load" data-src="/img/96/bird_baths/leafy_glade_bird_bath_06.jpg" data-alt="leafy glade bird bath"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load" data-src="/img/96/bird_baths/meeting_place_bird_bath_05.jpg" data-alt="meeting place bird bath"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="js-delayed_image_load js-no_replace" data-src="/img/96/bird_baths/meeting_place_bird_bath_01.jpg" data-alt="meeting place bird bath"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load js-no_replace" data-src="/img/96/bird_baths/leafy_glade_bird_bath_01.jpg" data-alt="leafy glade bird bath"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait js-no_replace" data-src="/img/96/bird_baths/meeting_place_bird_bath_02.jpg" data-alt="meeting place bird bath"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait js-no_replace" data-src="/img/96/bird_baths/leafy_glade_bird_bath_02.jpg" data-alt="leafy glade bird bath"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait js-no_replace" data-src="/img/96/bird_baths/meeting_place_bird_bath_03.jpg" data-alt="meeting place bird bath"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="js-delayed_image_load portrait js-no_replace" data-src="/img/96/bird_baths/meeting_place_bird_bath_04.jpg" data-alt="meeting place bird bath"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait js-no_replace" data-src="/img/96/bird_baths/leafy_glade_bird_bath_04.jpg" data-alt="leafy glade bird bath"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait js-no_replace" data-src="/img/96/bird_baths/meeting_place_bird_bath_06.jpg" data-alt="meeting place bird bath"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait js-no_replace" data-src="/img/96/bird_baths/meeting_place_bird_bath_07.jpg" data-alt="meeting place bird bath"></div>
        </div>

    </div>

</div></section>

<section><div class="js-more-content">

    <div class="section section--gallery">

        <h2 class="h2">Sculptures</h2>

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="js-delayed_image_load portrait" data-src="/img/96/sculptures/biddy_01.jpg" data-alt="Biddy"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait" data-src="/img/96/sculptures/biddy_02.jpg" data-alt="Biddy"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait" data-src="/img/96/sculptures/biddy_and_murphy.jpg" data-alt="Biddy and Murphy"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait" data-src="/img/96/sculptures/blue_birds_in_the_garden_close_up_01.jpg" data-alt="blue birds in the garden"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait" data-src="/img/96/sculptures/blue_birds_in_the_garden_close_up_02.jpg" data-alt="blue birds in the garden"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="js-delayed_image_load portrait js-no_replace" data-src="/img/96/sculptures/elephant_family_in_the_garden.jpg" data-alt="elephant family in the garden"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load js-no_replace" data-src="/img/96/sculptures/grey_elephants_standing_guard.jpg" data-alt="grey elephants standing guard"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load js-no_replace" data-src="/img/96/sculptures/happy_hares.jpg" data-alt="happy hares"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait js-no_replace" data-src="/img/96/sculptures/large_blue_birds_in_the_garden_01.jpg" data-alt="large blue birds in the garden"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load js-no_replace" data-src="/img/96/sculptures/large_blue_birds_in_the_garden_02.jpg" data-alt="large blue birds in the garden"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="js-delayed_image_load portrait js-no_replace" data-src="/img/96/sculptures/murphy_as_a_puppy.jpg" data-alt="Murphy as a puppy"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait js-no_replace" data-src="/img/96/sculptures/omalley_01.jpg" data-alt="O'Malley"></div>
        </div>


        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load portrait js-no_replace" data-src="/img/96/sculptures/omalley_02.jpg" data-alt="O'Malley"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load js-no_replace" data-src="/img/96/sculptures/small_elephants_for_the_garden_one_with_a_hitch_hiking_blue_bird.jpg" data-alt="small elephants for the garden one with a hitch hiking blue bird"></div>
        </div>

        <div class="column--micro image--stretch img_holder">
            <div class="js-delayed_image_load js-no_replace" data-src="/img/96/sculptures/small_grey_wrinkly_elephants_in_the_garden.jpg" data-alt="small grey wrinkly elephants in the garden"></div>
        </div>

    </div>

    <div class="section section--gallery js-more-content__group hide">

        <div class="column image--stretch column--gallery-main img_holder">
            <div class="js-delayed_image_load js-no_replace" data-src="/img/96/sculptures/wrinkly_elephants_in_the_garden.jpg" data-alt="wrinkly elephants in the garden"></div>
        </div>

    </div>

</div></section>

<section><div class="section section--gallery">

    <h2 class="h2">Red Hare Commission</h2>
    
    <div class="column image--stretch column--gallery-main img_holder">
        <div class="portrait js-delayed_image_load" data-src="/img/96/workshop/red_hare_commission_finished.jpg" data-alt="red hare"></div>
    </div>

    <div class="column--micro image--stretch img_holder">
        <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/red_hare_close_up.jpg" data-alt="red hare"></div>
    </div>

    <div class="column--micro image--stretch img_holder">
        <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/red_hare_commission_curating.jpg" data-alt="red hare"></div>
    </div>

    <div class="column--micro image--stretch img_holder">
        <div class="img--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/red_hare_commission.jpg" data-alt="red hare"></div>
    </div>

    <div class="column--micro image--stretch img_holder">
        <div class="img--gallery-small--gallery-small portrait js-delayed_image_load" data-src="/img/96/workshop/red_hare_front_on.jpg" data-alt="red hare"></div>
    </div>

</div></section>

<%= include('includes/bottom.tmpl') %>