<section><div class="section section--nav"><div class="column--full">

        <div class="nav-button__holder">
            <a href="#nav" class="nav-button__anchor">
                <span class="nav-button__txt">Menu</span>
                <span class="nav-button__graphic"></span>
                <span class="nav-button__graphic"></span>
                <span class="nav-button__graphic"></span>
            </a>
        </div>
        
        <nav role="navigation"><div class="nav">

            <a href="index.html" class="nav--item nav--item_home">Home</a>
            <a href="outdoor_sculptures.html" class="nav--item nav--item_outdoor_sculptures">Outdoor sculptures</a>
            <a href="gallery_pieces.html" class="nav--item nav--item_gallery_pieces">Gallery pieces</a>
            <a href="in_the_workshop.html" class="nav--item nav--item_in_the_workshop">In the workshop</a>
            <a href="commissions.html" class="nav--item nav--item_commissions">Commissions</a>
            <a href="contact.html" class="nav--item nav--item_contact">Contact</a>
            <a href="archive.html" class="nav--item nav--item_archive">Archive</a>

        </div></nav>

</div></div></section>

<section><div class="section section--contact center">

        <div class="column--full">

            <p><a href="https://twitter.com/intent/tweet?text=Sarah%20Cox%20Ceramics%20Artist%20http://sarahcoxceramics.co.uk" class="button button--inline icon icon--twitter" target="new">
                <span class="button__text">Share this on Twitter</span>
            </a>&nbsp;&nbsp;&nbsp;<a href="http://www.facebook.com/sharer/sharer.php?u=http://sarahcoxceramics.co.uk" class="button button--inline icon icon--facebook" target="new">
                <span class="button__text">Share this on Facebook</span>
            </a>&nbsp;&nbsp;&nbsp;<a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fsarahcoxceramics.co.uk&media=http%3A%2F%2Fwww.sarahcoxceramics.co.uk%2Fimg%2F130%2Ffountains_and_water_features%2Fsmaller_blue_comunal_shower_water_feature.jpg&description=Sarah%20Cox%20Ceramics%20Artist%20http%3A%2F%2Fsarahcoxceramics.co.uk%2F" class="button button--inline icon icon--pinterest" target="new">
                <span class="button__text">Add to pinterest</span>
            </a></p>

        </div>

</div></section>

<script type="text/javascript">
    if (
        ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window) ||
        (/MSIE (7|8)/.test(navigator.userAgent))
    ) {
        document.write('<scr' + 'ipt type="text/javascript" src="js/main.js?v=<%= version %>"></scr' + 'ipt>');
    }
    if (window.location.host.indexOf('sarahcoxceramics.co.uk') > -1) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-51102373-1', 'sarahcoxceramics.co.uk');
        ga('send', 'pageview');

    }
</script>

</body>
</html>