<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><% if (title) { %><%= title %> -<% } %> Sarah Cox Ceramics</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<meta property="og:url" content="http://sarahcoxceramics.co.uk"/>
<meta property="og:site_name" content="Sarah Cox Ceramics"/>
<meta property="og:image" content="http://sarahcoxceramics.co.uk/img/625/blue_elephant_curly_trunk.jpg"/>

<script type="text/javascript">
    document.documentElement.className = "js";
    if('querySelector' in document && 'localStorage' in window && 'addEventListener' in window) {
        document.write('<li' + 'nk type="text/css" rel="stylesheet" href="/css/modern.css?v=<%= version %>" />');
        loadJs = true;
    }
    else if (/MSIE (7|8)/.test(navigator.userAgent)) {
        document.write('<li' + 'nk type="text/css" rel="stylesheet" href="/css/legacy-ie.css?v=<%= version %>" />');
    }
    else {
        document.write('<li' + 'nk type="text/css" rel="stylesheet" href="/css/classic.css?v=<%= version %>" />');
    }
</script>
<noscript>
    <link type="text/css" rel="stylesheet" href="/css/classic.css?v=<%= version %>" />
</noscript>
<!--[if IE]>
<script type="text/javascript" src="js/vendor/polyfills/html5shiv.js?v=<%= version %>"></script>
<![endif]-->
</head>

<body id="<%= id %>" class="<%= type %>">

<header><div class="section section--head" id="head"><div class="column--full">

<% if (id === "home") { %>
        <h1 class="site-title">Sarah Cox</h1>
<% } else { %>
        <div class="site-title">Sarah Cox</div>
<% } %>
        <p class="byline">Ceramics Artist</p>

</div></div></header>